

.welcome {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
}

.img-responsive {
    width: 60%;
}

@media (max-width: 768px) { /* 768px es el punto de interrupción para md en Bootstrap */
    .img-responsive {
        width: 100%;
    }
    .contact-name{
        padding-left: 18%;
    }
}